{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- --------------------------------------------------- -->
  <!-- Title -->
  <!-- --------------------------------------------------- -->
  <title>Mordenize</title>
  <!-- --------------------------------------------------- -->
  <!-- Required Meta Tag -->
  <!-- --------------------------------------------------- -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="handheldfriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description" content="Mordenize" />
  <meta name="author" content="" />
  <meta name="keywords" content="Mordenize" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- --------------------------------------------------- -->
  <!-- Favicon -->
  <!-- --------------------------------------------------- -->
  <link rel="shortcut icon" type="image/png" href="{% static 'dist/images/logos/favicon.ico' %}" />
  <link id="themeColors" rel="stylesheet" href="{% static 'dist/css/style.min.css' %}" />
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <img src="{% static 'dist/images/logos/favicon.ico' %}" alt="loader" class="lds-ripple img-fluid" />
  </div>
  <!-- --------------------------------------------------- -->
  <!-- Body Wrapper -->
  <!-- --------------------------------------------------- -->


    <div class="body-wrapper w-100">

      <!-- --------------------------------------------------- -->
      <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
          <div class="card-body px-4 py-3">
            <div class="row align-items-center">
              <div class="col-9">
                <h4 class="fw-semibold mb-8">Kanban</h4>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="text-muted " href="./index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                      Kanban
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-3">
                <div class="text-center mb-n5">
                  <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="action-btn layout-top-spacing mb-7 d-flex align-items-center justify-content-between">
          <h5 class="mb-0 fs-5 fw-semibold">Improving Work Processes</h5>
          <button id="add-list" class="btn btn-primary">Add List</button>
        </div>

        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="add-task-title modal-title" id="addTaskModalTitleLabel1">Add Task</h5>
                <h5 class="edit-task-title modal-title" id="addTaskModalTitleLabel2">Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>

              <div class="modal-body">
                <div class="compose-box">
                  <div class="compose-content" id="addTaskModalTitle">
                    <div class="addTaskAccordion" id="add_task_accordion">
                      <div class="task-content task-text-progress">
                        <div id="collapseTwo" class="collapse show" data-parent="#add_task_accordion">
                          <div class="task-content-body">
                            <form action="javascript:void(0);">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="task-title mb-4 d-flex">
                                    <input id="kanban-title" type="text" placeholder="Task" class="form-control" name="task">
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-12">
                                  <div class="task-badge d-flex">
                                    <textarea id="kanban-text" placeholder="Task Text" class="form-control"
                                      name="taskText"></textarea>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-start">
                <button data-btn-action="addTask" class="btn add-tsk btn-primary">Add Task</button>
                <button data-btn-action="editTask" class="btn edit-tsk btn-success" style="display: none;">Save</button>
                <button class="btn btn-dark d-flex align-items-center gap-1" data-bs-dismiss="modal">Cancel</button>
                
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title add-list-title" id="addListModalTitleLabel1">Add List</h5>
                <h5 class="modal-title edit-list-title" id="addListModalTitleLabel2">Edit List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="compose-box">
                  <div class="compose-content" id="addListModalTitle">
                    <form action="javascript:void(0);">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="list-title d-flex align-items-center">
                            <input id="item-name" type="text" placeholder="List Name" class="form-control"
                              name="task">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-start">
                <button class="btn btn-secondary d-flex align-items-center gap-1"
                  data-bs-dismiss="modal">Cancel</button>
                <button class="btn add-list btn-primary">Add List</button>
                <button class="btn edit-list btn-success" style="display: none;">Save</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deleteConformation" tabindex="-1" role="dialog"
          aria-labelledby="deleteConformationLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="deleteConformationLabel">
              <div class="modal-header">
                <div
                  class="icon round-40 d-flex align-items-center justify-content-center bg-light-danger text-danger me-2 rounded-circle">
                  <i class="ti ti-trash fs-6"></i>
                </div>
                <h5 class="modal-title fw-semibold" id="exampleModalLabel">Delete the task?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="mb-0">If you delete the task it will be gone forever. Are you sure you want to
                  proceed?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-remove="task">Delete</button>
              </div>
            </div>
          </div>
        </div>

        
        <div class="row scrumboard" id="cancel-row">
          <div class="col-lg-12 layout-spacing pb-3" data-simplebar="">

            <div class="task-list-section">

              <div data-item="item-inprogress" class="task-list-container" data-action="sorting">
                <div class="connect-sorting connect-sorting-inprogress">
                 
                  <div class="task-container-header">
                    <h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="In Progress">In Progress</h6>
                    <div class="hstack gap-2">
                      <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="ti ti-dots-vertical text-dark"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
                          <a class="dropdown-item list-edit" href="javascript:void(0);">Edit</a>
                          <a class="dropdown-item list-delete" href="javascript:void(0);">Delete</a>
                          <a class="dropdown-item list-clear-all" href="javascript:void(0);">Clear All</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="connect-sorting-content" data-sortable="true">

                    <div data-draggable="true" class="card">
                      <div class="card-body">

                        <div class="task-header">
                          <div class="">
                            <h4 class="" data-item-title="Design navigation changes">
                              Design navigation changes</h4>
                          </div>
                          <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1"
                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <i class="ti ti-dots-vertical text-dark"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
                              <a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
                                href="javascript:void(0);"><i class="ti ti-pencil fs-5"></i>Edit</a>
                              <a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
                                href="javascript:void(0);"><i class="ti ti-trash fs-5"></i>Delete</a>
                            </div>
                          </div>
                        </div>

                        <div class="task-body">

                          <div class="task-bottom">
                            <div class="tb-section-1">
                              <span class="hstack gap-2 fs-2" data-item-date="24 July"><i
                                  class="ti ti-calendar fs-5"></i> 24 July </span>
                            </div>
                            <div class="tb-section-2">
                              <span class="badge text-bg-primary fs-1">Mobile</span>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

              <div data-item="item-pending" class="task-list-container" data-action="sorting">
                <div class="connect-sorting connect-sorting-pending">
                  <div class="task-container-header">
                    <h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="Pending">Pending</h6>
                    <div class="hstack gap-2">
                      <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="ti ti-dots-vertical text-dark"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
                          <a class="dropdown-item list-edit" href="javascript:void(0);">Edit</a>
                          <a class="dropdown-item list-delete" href="javascript:void(0);">Delete</a>
                          <a class="dropdown-item list-clear-all" href="javascript:void(0);">Clear All</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="connect-sorting-content" data-sortable="true">

                    <div data-draggable="true" class="card img-task">
                      <div class="card-body">

                        <div class="task-header">
                          <div class="">
                            <h4 class="" data-item-title="Persona development">
                              Persona development</h4>
                          </div>
                          <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1"
                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <i class="ti ti-dots-vertical text-dark"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
                              <a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
                                href="javascript:void(0);"><i class="ti ti-pencil fs-5"></i>Edit</a>
                              <a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
                                href="javascript:void(0);"><i class="ti ti-trash fs-5"></i>Delete</a>
                            </div>
                          </div>
                        </div>

                        <div class="task-content">
                          <p class="mb-0"
                            data-item-text="Create user personas based on the research data to represent different user groups and their characteristics, gols, and behaviors..">
                            Create user personas based on the research data to represent different user groups and their
                            characteristics, gols, and behaviors..
                          </p>
                        </div>

                        <div class="task-body">

                          <div class="task-bottom">
                            <div class="tb-section-1">
                              <span class="hstack gap-2 fs-2" data-item-date="24 July"><i
                                  class="ti ti-calendar fs-5"></i> 24 July </span>
                            </div>
                            <div class="tb-section-2">
                              <span class="badge text-bg-warning fs-1">UX stage</span>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

              <div data-item="item-pending" class="task-list-container" data-action="sorting">
                <div class="connect-sorting connect-sorting-done">
                  <div class="task-container-header">
                    <h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="Done">Done</h6>
                    <div class="hstack gap-2">
                      <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="ti ti-dots-vertical text-dark"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
                          <a class="dropdown-item list-edit" href="javascript:void(0);">Edit</a>
                          <a class="dropdown-item list-delete" href="javascript:void(0);">Delete</a>
                          <a class="dropdown-item list-clear-all" href="javascript:void(0);">Clear All</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="connect-sorting-content" data-sortable="true">

                    <div data-draggable="true" class="card img-task">
                      <div class="card-body">

                        <div class="task-header">
                          <div class="">
                            <h4 class="" data-item-title="Usability testing">
                              Usability testing</h4>
                          </div>
                          <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-1"
                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <i class="ti ti-dots-vertical text-dark"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
                              <a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
                                href="javascript:void(0);"><i class="ti ti-pencil fs-5"></i>Edit</a>
                              <a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
                                href="javascript:void(0);"><i class="ti ti-trash fs-5"></i>Delete</a>
                            </div>
                          </div>
                        </div>

                        <div class="task-content p-0">
                          <img src="../../dist/images/backgrounds/weatherbg.jpg" class="img-fluid" alt="scrumboard">
                        </div>

                        <div class="task-body">

                          <div class="task-bottom">
                            <div class="tb-section-1">
                              <span class="hstack gap-2 fs-2" data-item-date="24 July"><i
                                  class="ti ti-calendar fs-5"></i> 24 July </span>
                            </div>
                            <div class="tb-section-2">
                              <span class="badge text-bg-info fs-1">Research</span>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


    </div>




  <!-- ---------------------------------------------- -->
  <!-- ---------------------------------------------- -->
  <!-- Import Js Files -->
  <!-- ---------------------------------------------- -->
  <script src="{% static 'dist/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'dist/libs/jquery-ui/dist/jquery-ui.min.js' %}"></script>
  <script src="{% static 'dist/libs/simplebar/dist/simplebar.min.js' %}"></script>
  <script src="{% static 'dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!-- ---------------------------------------------- -->
  <!-- core files -->
  <!-- ---------------------------------------------- -->
  <script src="{% static 'dist/js/app.min.js' %}"></script>
  <script src="{% static 'dist/js/app.init.js' %}"></script>
  <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
  <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>

  <script src="{% static 'dist/js/custom.js' %}"></script>
  <!-- ---------------------------------------------- -->
  <!-- current page js files -->
  <!-- ---------------------------------------------- -->

  <!-- Add Kanban JavaScript code -->
  <script>
    $(function () {
      // ----------------------------------------------------------------------
      // draggble item
      // ----------------------------------------------------------------------
      function kanbanSortable() {
        $('[data-sortable="true"]').sortable({
          connectWith: ".connect-sorting-content",
          items: ".card",
          cursor: "move",
          placeholder: "ui-state-highlight",
          refreshPosition: true,
          stop: function (event, ui) {
            var parent_ui = ui.item.parent().attr("data-item");
          },
          update: function (event, ui) {
            console.log(ui);
            console.log(ui.item);
          },
        });
      }

      // ----------------------------------------------------------------------
      // clear all task on click
      // ----------------------------------------------------------------------
      function clearItem() {
        $(".list-clear-all")
          .off("click")
          .on("click", function (event) {
            event.preventDefault();
            $(this)
              .parents('[data-action="sorting"]')
              .find(".connect-sorting-content .card")
              .remove();
          });
      }

      // ----------------------------------------------------------------------
      // add task and open modal
      // ----------------------------------------------------------------------
      function addKanbanItem() {
        $(".addTask").on("click", function (event) {
          event.preventDefault();
          getParentElement = $(this)
            .parents('[data-action="sorting"]')
            .attr("data-item");
          $(".edit-task-title").hide();
          $(".add-task-title").show();
          $('[data-btn-action="addTask"]').show();
          $('[data-btn-action="editTask"]').hide();
          // $('.addTaskAccordion .collapse').collapse('hide');
          $("#addItemModal").modal("show");
          kanban_add(getParentElement);
        });
      }

      // ----------------------------------------------------------------------
      //   add default item
      // ----------------------------------------------------------------------
      function kanban_add(getParent) {
        $('[data-btn-action="addTask"]')
          .off("click")
          .on("click", function (event) {
            getAddBtnClass = $(this).attr("class").split(" ")[1];

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, "0");
            var mm = String(today.getMonth());

            var monthNames = [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
            ];

            today = dd + " " + monthNames[mm];

            var $_getParent = getParent;

            var itemTitle = document.getElementById("kanban-title").value;
            var itemText = document.getElementById("kanban-text").value;

            item_html =
              '<div data-draggable="true" class="card task-text-progress" style="">' +
              '<div class="card-body">' +
              '<div class="task-header">' +
              '<div class="">' +
              '<h4 class="" data-item-title="' +
              itemTitle +
              '">' +
              itemTitle +
              "</h4>" +
              "</div>" +
              '<div class="">' +
              '<div class="dropdown">' +
              '<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">' +
              '<i class="ti ti-dots-vertical text-dark"></i>' +
              "</a>" +
              '<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-4">' +
              '<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1" href="javascript:void(0);"><i class="ti ti-pencil fs-5"></i>Edit</a>' +
              '<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1" href="javascript:void(0);"><i class="ti ti-trash fs-5"></i>Delete</a>' +
              "</div>" +
              "</div>" +
              "</div>" +
              "</div>" +
              '<div class="task-body">' +
              '<div class="task-content">' +
              '<p class="mb-0" data-item-text="' +
              itemText +
              '">' +
              itemText +
              "</p>" +
              "</div>" +
              '<div class="task-bottom">' +
              '<div class="tb-section-1">' +
              '<span class="hstack gap-2 fs-2" data-item-date="' +
              today +
              '"><i class="ti ti-calendar fs-5"></i> ' +
              today +
              "</span>" +
              "</div>" +
              '<div class="tb-section-2">' +
              '<span class="badge text-bg-success fs-1">Design</span>' +
              "</div>" +
              "</div>" +
              "</div>" +
              "</div>" +
              "</div>";

            $("[data-item='" + $_getParent + "'] .connect-sorting-content").append(
              item_html
            );

            $("#addItemModal").modal("hide");

            kanbanEdit();
            kanbanDelete();
          });
      }

      // ----------------------------------------------------------------------
      //   add item
      // ----------------------------------------------------------------------
      $("#add-list")
        .off("click")
        .on("click", function (event) {
          event.preventDefault();

          $(".add-list").show();
          $(".edit-list").hide();
          $(".edit-list-title").hide();
          $(".add-list-title").show();
          $("#addListModal").modal("show");
        });

      // ----------------------------------------------------------------------
      //   add list
      // ----------------------------------------------------------------------
      $(".add-list")
        .off("click")
        .on("click", function (event) {
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, "0");
          var mm = String(today.getMonth() + 1).padStart(2, "0");

          today = mm + "." + dd;

          var itemTitle = document.getElementById("item-name").value;

          var itemNameLowercase = itemTitle.toLowerCase();
          var itemNameRemoveWhiteSpace = itemNameLowercase.split(" ").join("_");
          var itemDataAttr = itemNameRemoveWhiteSpace;

          item_html =
            '<div data-item="item-' +
            itemDataAttr +
            '" class="task-list-container  mb-4 " data-action="sorting">' +
            '<div class="connect-sorting">' +
            '<div class="task-container-header">' +
            '<h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="' +
            itemTitle +
            '">' +
            itemTitle +
            "</h6>" +
            '<div class="hstack gap-2">' +
            '<div class="dropdown">' +
            '<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">' +
            '<i class="ti ti-dots-vertical text-dark"></i>' +
            "</a>" +
            '<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-4">' +
            '<a class="dropdown-item list-edit" href="javascript:void(0);">Edit</a>' +
            '<a class="dropdown-item list-delete" href="javascript:void(0);">Delete</a>' +
            '<a class="dropdown-item list-clear-all" href="javascript:void(0);">Clear All</a>' +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            '<div class="connect-sorting-content" data-sortable="true">' +
            "</div>" +
            "</div>" +
            "</div>";

          $(".task-list-section").append(item_html);
          $("#addListModal").modal("hide");
          $("#item-name").val("");
          kanbanSortable();
          editItem();
          deleteItem();
          clearItem();
          addKanbanItem();
          kanbanEdit();
          kanbanDelete();

          // --------------------
          // Tooltip
          // --------------------
          var tooltipTriggerList = [].slice.call(
            document.querySelectorAll('[data-bs-toggle="tooltip"]')
          );
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
          });
        });

      // ----------------------------------------------------------------------
      // edit item
      // ----------------------------------------------------------------------
      function editItem() {
        $(".list-edit")
          .off("click")
          .on("click", function (event) {
            event.preventDefault();

            var parentItem = $(this);

            $(".add-list").hide();
            $(".edit-list").show();

            $(".add-list-title").hide();
            $(".edit-list-title").show();

            var itemTitle = parentItem
              .parents('[data-action="sorting"]')
              .find(".item-head")
              .attr("data-item-title");
            $("#item-name").val(itemTitle);

            $(".edit-list")
              .off("click")
              .on("click", function (event) {
                var $_innerThis = $(this);
                var $_getListTitle = document.getElementById("item-name").value;

                var $_editedListTitle = parentItem
                  .parents('[data-action="sorting"]')
                  .find(".item-head")
                  .html($_getListTitle);
                var $_editedListTitleDataAttr = parentItem
                  .parents('[data-action="sorting"]')
                  .find(".item-head")
                  .attr("data-item-title", $_getListTitle);

                $("#addListModal").modal("hide");
                $("#item-name").val("");
              });
            $("#addListModal").modal("show");
            $("#addListModal").on("hidden.bs.modal", function (e) {
              $("#item-name").val("");
            });
          });
      }

      // ----------------------------------------------------------------------
      // all list delete
      // ----------------------------------------------------------------------
      function deleteItem() {
        $(".list-delete")
          .off("click")
          .on("click", function (event) {
            event.preventDefault();
            $(this).parents("[data-action]").remove();
          });
      }

      // ----------------------------------------------------------------------
      // Delete item on click
      // ----------------------------------------------------------------------
      function kanbanDelete() {
        $(".card .kanban-item-delete")
          .off("click")
          .on("click", function (event) {
            event.preventDefault();

            get_card_parent = $(this).parents(".card");

            $("#deleteConformation").modal("show");

            $('[data-remove="task"]').on("click", function (event) {
              event.preventDefault();
              /* Act on the event */
              get_card_parent.remove();
              $("#deleteConformation").modal("hide");
            });
          });
      }

      // ----------------------------------------------------------------------
      // Edit item on click
      // ----------------------------------------------------------------------
      function kanbanEdit() {
        $(".card .kanban-item-edit")
          .off("click")
          .on("click", function (event) {
            event.preventDefault();

            var parentItem = $(this);

            $(".add-task-title").hide();
            $(".edit-task-title").show();

            $('[data-btn-action="addTask"]').hide();
            $('[data-btn-action="editTask"]').show();

            var itemKanbanTitle = parentItem
              .parents(".card")
              .find("h4")
              .attr("data-item-title");
            var get_kanban_title = $(".task-text-progress #kanban-title").val(
              itemKanbanTitle
            );

            var itemText = parentItem
              .parents(".card")
              .find('p:not(".progress-count")')
              .attr("data-item-text");
            var get_kanban_text = $(".task-text-progress #kanban-text").val(
              itemText
            );

            $('[data-btn-action="editTask"]')
              .off("click")
              .on("click", function (event) {
                var kanbanValueTitle =
                  document.getElementById("kanban-title").value;
                var kanbanValueText = document.getElementById("kanban-text").value;

                var itemDataAttr = parentItem
                  .parents(".card")
                  .find("h4")
                  .attr("data-item-title", kanbanValueTitle);
                var itemKanbanTitle = parentItem
                  .parents(".card")
                  .find("h4")
                  .html(kanbanValueTitle);
                var itemTextDataAttr = parentItem
                  .parents(".card")
                  .find('p:not(".progress-count")')
                  .attr("data-tasktext", kanbanValueText);
                var itemText = parentItem
                  .parents(".card")
                  .find('p:not(".progress-count")')
                  .html(kanbanValueText);

                $("#addItemModal").modal("hide");
                var setDate = $(".taskDate").html("");
                $(".taskDate").hide();
              });
            $("#addItemModal").modal("show");
          });
      }

      editItem();
      deleteItem();
      clearItem();
      addKanbanItem();
      kanbanEdit();
      kanbanDelete();
      kanbanSortable();
    });

  </script>
</body>

</html>